transformers
accelerate
diffusers
gradio==5.35.0
kokoro
misaki
soundfile
huggingface-hub
gradio==5.35.0
pydub
espeakng-loader
phonemizer-fork
wheel
setuptools
pydub
ffmpeg
imageio-ffmpeg
scipy
hf_xet

